.idea
.DS_Store
*.db
*.pem
*.der
scripts/build/MacOSX15*
agent/sshd/shell/shim_embed/sshd_shim/*.exe

# Added by goreleaser init:
dist/
output
scripts/build/MacOSX15.sdk/
.env.build
local_config
*.bkp
.zig-cache/
sshd.exe